/* 
    > Let's write some CSS! Simply follow these specs:
*/
* {
}

html {
  display: flex;
  justify-content: center;
  background-color: #777777;
}

body {
  margin: 0;
  width: 700px;
  height: 100vh;
  background-color: white;
}

article {
  padding: 50px 100px
}

/*
    > Create a selector for <h1> and add the following attributes
        ☑️ "Tahoma" font
        ☑️ 30px size
        ☑️ #777777 text color
        ☑️ centered
*/

h1 {
  font-family: Tahoma;
  font-size: 30px;
  color: #777777;
  text-align: center;
}

/*
    > Create a selector for <ol>
        ☑️ "Courier New" font
        ☑️ 1.4rem size
        ☑️ #748493 text color
*/

ol {
  font-family: Courier New;
  font-size: 1.4rem;
  color: #748493;
}

/*
    > Create a selector for the "learn-more-btn" class
        ☑️ Add a background color of #2F91FB
        ☑️ white text color
*/

.learn-more-btn {
  background-color: #2F91FB;
  color: white;
}

/*
    > Finally, scroll down on this page (below the embedded code editor) to check the solution image and see if your solution matches

    > If not, make sure you fix it before watching the solution video 👍 
*/